@charset "utf-8"; 

/* ==============================

	マニュアル（コンテンツリスト）

=============================== */

#contentsList{
	background:#000;
	color:#FFF;
}

/* ==============================

	マニュアル（コンテンツ）

=============================== */

/* ------------------------------
 	コンテンツ
------------------------------ */

body{
	background:#EEE;
	font-size:14px;
}
p{
	text-align:1.6;
	margin:10px 0;
}
ol li{
	list-style: decimal;
}
.sourceCodeBox{
	background:#000;
	color:#FFF;
	padding:20px;
}