<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="MySqlString" value="server=mysql3.winserver.ne.jp;port=3306;database=japan_system_development;user=root;password=i6Qq3gp7qmGuM5TTXMHs;charset=sjis" />
    </appSettings>
    <system.webServer>
        <handlers>
            <remove name="PHP via FastCGI" />
            <add name="PHP7 via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="PYTHON_VIA_CG" path="*.py" verb="GET, POST, TRACE" modules="CgiModule" scriptProcessor="C:\Python27\python.exe %s %s" resourceType="File" />
            <add name="PHP via FastCGI" path="*.php" verb="GET, POST, TRACE" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v5.6\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <system.web>
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
        <compilation>
            <assemblies>
                <add assembly="MySql.Data, Version=6.9.9.0" />
            </assemblies>
        </compilation>
    </system.web>
</configuration>
