@charset "utf-8";

/* ==============================

	TOPページ

=============================== */

/* ------------------------------
	機能一覧テーブル
------------------------------ */

#functionList th{
	width:230px;
}

/* ------------------------------
	機能一覧リンクアイコン
------------------------------ */

.itemTable a{
	padding:5px 5px 0 35px;
	display:block;
	line-height:23px;
	font-weight:bold;
}
#navMyspl{
	background:url(../img/index/nav_ic_mysql.png) no-repeat 0 0;
}
#navMyspl:hover{
	background-position:0 -29px;
}
#navMsspl{
	background:url(../img/index/nav_ic_mssql.png) no-repeat 0 0;
}
#navMsspl:hover{
	background-position:0 -29px;
}
#navSite{
	background:url(../img/index/nav_ic_site.png) no-repeat 0 0;
}
#navSite:hover{
	background-position:0 -29px;
}
#navApplication{
	background:url(../img/index/nav_ic_application.png) no-repeat 0 0;
}
#navApplication:hover{
	background-position:0 -29px;
}
#navPassword{
	background:url(../img/index/nav_ic_password.png) no-repeat 0 0;
}
#navPassword:hover{
	background-position:0 -29px;
}
#navSiteGuard{
	background:url(../img/index/nav_ic_siteguard.png) no-repeat 0 0;
}
#navSiteGuard:hover{
	background-position:0 -29px;
}
#navEasyInstall{
	background:url(../img/index/nav_ic_easyinstall.png) no-repeat 0 0;
}
#navEasyInstall:hover{
	background-position:0 -29px;
}


/* ==============================

	MySQL追加

=============================== */

#mySqlBtn{
	width:220px;
	height:40px;
}

/* ==============================

	Microsoft SQL Server追加

=============================== */

#msSqlBtn{
	width:220px;
	height:40px;
}

/* ==============================

	サイト管理

=============================== */

#siteManage{
	overflow:hidden;
	_zoom:1;
}
#siteManage form{
	width:200px;
	float:left;
	margin:0 20px 0 0;
}
#siteManage form input{
	width:100%;
	height:40px;
}


/* ==============================

	アプリケーション管理

=============================== */

#appPool td{
	padding:5px 20px 5px 0;
}
#appPool input{
	height:40px;
}

.appListTable{
	margin:20px 0;
	min-width:300px;
}
.appListTable th,
.appListTable td{
	padding:5px 10px;
}
.appListTable caption{
	background:#33CCFF;
	padding:5px 10px;
	border-top:solid 1px #333333;
}
.appListTable td{
	text-align:right;
}
.appListTable tr{
	border-top:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
}
.appListTable tr:last-child{
	border-bottom:solid 1px #333333;
}

.sqlServerInfo{
	width:50%;
	background:#0099CC;
	color:#FFF;
	font-weight:bold;
	padding:20px;
	margin:20px 0;
}


/* ==============================

	パスワード変更

=============================== */

#siteCangeBtn{
	width:220px;
	height:40px;
}


/* ==============================

	SiteGuard

=============================== */

.siteGuard input{
	padding: 0 0.25em;
}

.siteGuard table{
	border-collapse: collapse;
	border: solid 2px #000;
	margin-bottom: 1em;
}

.siteGuard table tr td,
.siteGuard table tr th{
	border: solid 1px #000;
	font-size: 14px;
	padding: 3px 5px;
	text-align: center;
	padding: 0.5em;
}

.siteGuard table tr th{
	background: aqua;
	color: black;
	font-weight: bold;
}


/* ==============================

	簡単インストール

=============================== */

#itemTableEasy_install th{
	width:120px;
}


/*============for contract css====================*/
.left-menu {
  max-width: 120px;
  height: 100vh;
  background-color: #1BB6D7;
  overflow-x: hidden;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.left-menu a {
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.left-menu a span {
    display: block;
    color: #ffffff;
    padding-top: 7px;
}

.left-menu a span:hover {
  color: #039;
}

.right-content {
    margin-left: 120px;
    height: 100vh;
}

.right-content .conId li, .right-content .conService li {
    display: inline-flex;
}

.right-content .conId span {
    font-size: 14px;
    padding-left: 90px !important;
}

.right-content .conService span {
    font-size: 14px;
    padding-left: 55px !important;
}

.conService .tab-bar {
	background: #fff;
	overflow: hidden;
	/*padding: 10px 10px 0 10px;*/
}

.conService .tab-bar li {
	/*float: left;*/
	padding: 8px 20px;
	/*margin-right: 8px;*/
	cursor: pointer;
	/*border: 1px solid #f5f5f5;*/
}

.conService .tab-bar .tabs {
	border: 1px solid #f5f5f5;
}

.conService .panel {
	padding: 15px;
	min-height: 75vh;
	/*border: 1px solid #ccc;*/
	/*border-top: 0 none;*/
	background: #f5f5f5 !important
	;
}

.conService .tab-bar #tab1{
	background: #f5f5f5;
	color: #039;
}

.conService .tab-bar #tab2 {
	background: #fff;
    margin-left: -5px;
}

.conService #vps-panel {
	display: none;
}

.conButton {
	float: right;
	margin-top: 15px;
}

.conButton a {
    color: #000;
    font-weight: 500;
    border: 1px solid #ddd;
    background: #fff;
    padding: 5px 10px;
}


/*===================multi domain addition========================*/

.txtImg .right-wrap {
    display: inline-flex !important;
}

.txtImg .right-wrap span {
    padding-left: 85px;
}

.txtImg {
    display: inline-flex;
}

.txtImg .left-wrap span {
    display: block;
}

.right-wrap span form h2 {
    margin-bottom: 1rem;
}

.right-wrap .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
}

.right-wrap label {
    padding-right: 35px;
    display: inline-block;
    width: 25%;
}

.right-wrap input {
    padding: 10px 15px;
    float: right;
    width: 75%;
}

.addButton {
    overflow: hidden;
    clear: both;
}

.addButton input[type="submit"] {
    width: auto;
    background: #fff;
    border: 1px solid #0e0e0e;
}













