/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}


/* ---------------------------------------------------
    CONTENT STYLE (Server)
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.server .wserver {
    font-weight: 400!important;
    text-align: center;
    margin-bottom: 15px;
}

.server .saba {
    text-align: center;
}

.server .row-border {
    border: 2px solid #000000;
    padding: 50px 0px;
}

.server .row.row-border {
    margin: 0px 70px 25px 70px;
}

.server .saba-tsuika {
    color: #000000;
    padding: 5px;
    z-index: 1;
    position: relative;
    text-align: center;
    top: 40px;
    background: #ffffff;
    border: 1px solid #000000;
}

.server .row .kyoyo-saba,
.server .row .vps-saba,
.server .row .wd-saba,
.server .row .senyo-saba {
    border: 1px solid #000000;
    text-align: center;
}

.server .row .vps-btn .btn,
.server .row .wd-btn .btn {
    /*margin-left: -5px;    
    border: 1px solid #000000;*/
    border-radius: 0!important;
    padding: 0!important;
}

.server .btn-group,
.server .btn-group-vertical {
    vertical-align: unset!important;
    width: 100%;
}

.server .row .btn-ssd,
.server .row .btn-hdd {
    border: 1px solid #000000;
    border-top: none;
}

.server input#contract-id {
    border-radius: 0px;
}

.server .saba-result {
    border: 2px solid #000000;
    padding: 50px 0px;
}

.server .row.saba-result {
    margin: 0px 70px 25px 70px;
}

.server #vps-hdd,
.server #wd-ssd,
.server #wd-hdd {
    display: none;
}


/* ---------------------------------------------------
    CONTENT STYLE (dhome)
----------------------------------------------------- */

.dhome .wserver {
    text-align: left;
}

.dhome a {
    color: #000000;
}

.dhome .tab-content>.active {
    background: #f5f5f5;
    border: 1px solid #ccc;
}

.dhome .nav-tabs .nav-link {
    border: 1px solid #f5f5f5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dhome .nav-tabs .nav-link.active,
.dhome .nav-tabs .nav-item.show .nav-link {
    color: #000000;
    background: #f5f5f5;
    border-color: #ccc;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background: #f5f5f5!important;
}

.nav-tabs {
    border-bottom: none;
}

.dhome .btn-outline-dark:hover {
    background: #ccc;
}

.dhome .icon-align {
    text-align: center;
}

.dhome span.icon {
    font-size: 23px;
}

.dhome .domain-icon {
    font-size: 50px;
}

.dhome div#app-install {
    padding: 0 40px;
}

.error {
    color: #ff0000;
}