@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    background: #d0cece;
    transition: all 0.3s ease;
}

.sidebar .sidebar__inner {
    position: relative;
}

.sidebar ul li a {
    color: #000000;
    font-size: 13px;
    padding: 20px 30px;
    white-space: nowrap;
    display: block;
    align-items: center;
    margin-bottom: 1px;
    transition: all 0.3s ease;
}

.sidebar ul li a .icon {
    /* margin-right: 15px;*/
    font-size: 40px;
}

.sidebar ul li a span {
    display: inline-block;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background: #eeeeee;
    color: #004D40;
}

.sidebar__inner ul {
    text-align: center;
}